<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Data</h1>

    <table border="">
      <form action="/addData" method="post" enctype="multipart/form-data">
        <tr>
          <td>User Name</td>
          <td><input type="text" name="userName" /></td>
        </tr>
         <tr>
          <td>Image</td>
          <td><input type="file" name="image" /></td>
        </tr>
        <!-- <tr>
          <td>Email</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Gender</td>
          <td><input type="radio" />Male <input type="radio" />Female</td>
        </tr>
        <tr>
          <td>City</td>
          <td>
            <select
              name=""
              id=""
            >
              <option value="">Delhi</option>
              <option value="">Ahmedbad</option>
              <option value="">Surat</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Image</td>
          <td><input type="file" /></td>
        </tr> -->
        <tr>
          <td></td>
          <td><button>Submit</button></td>
        </tr>
      </form>
    </table>
    <br />
    <br />

    <table border="">
      <thead>
        <tr>
          <th>User Name</th>
          <th>image</th>
          <th>Action</th>
          <!-- <th>Email</th>
          <th>Password</th>
          <th>Gender</th>
          <th>City</th>
          <th>Image</th> -->
        </tr>
      </thead>
      <tbody>
        <% allUserData.forEach((item)=>{ %>

        <tr>
          <td><%= item.userName %></td>
             <td><img src="<%= item.image %>"  height="200px" alt=""></td>
          <td>
            <a href="/delete/?id=<%= item.id %>"><Button>Delete</Button></a>
            <a href="/edit/<%= item.id %>"><Button>edit</Button></a>
          </td>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </body>
</html>
