<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>update Form</h1>
      <table border="">
      <form action="/updateData" method="post">
        <tr>
          <input type="hidden" name="id" value="<%= id %>">
          <td>Name</td>
          <td><input name="userName" value="<%= storeData.userName %>" type="text" /></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><input name="age" type="text" value="<%= storeData.age %>"  /></td>
        </tr>
        <tr>
          <td></td>
          <td><button>update</button></td>
        </tr>
      </form>
    </table>
  
</body>
</html>